div{
    background-color: black;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:15%;
}

p{
    color: #ffff;
    text-align: center;
}

body{
    background-color: rgb(12, 12, 14);
}