div{
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: #ffff;
    text-align: center;
}

 #jooj a{
    color: #ffff;
    align-self: center;
    display: inline-block;
    text-decoration: none;
    padding: 5px;

}
#jooj a:hover{
    background-color: rgb(69, 62, 100);

}

